<%- include("top.ejs") %>
    <p>Preencha os compos pra crear ou editar usuario</p>

    <div class="col-6">
        <form action="/users/new" method="POST">           
            <div class="row mb-3">
                <div class="form-group">
                    <label for="name">Nome:</label>
                    <input type="text" name="name" value="<%=user.name%>" placeholder="Nome do usuário" class="form-control" required>
                </div>
            </div>

            <div class="row mb-3">
                <div class="form-group">
                    <label for="email">E-mail:</label>
                    <input type="text" name="email" value="<%=user.email%>" placeholder="E-mail do usuário." class="form-control" required>
                    
                </div>
            </div>

            <div class="row mb-3">
                <div class="form-group">
                    <label for="password">Senha:</label>
                    <input type="password" name="password" placeholder="Senha do usuario" class="form-control" required>         
                    
                </div>
            </div>

            
            <input type="hidden" name="id" value="<%=user._id%>">
            
            <div>
                <input type="submit" value="Salvar" class="btn btn-primary" ></input>
                <a href="/users" class="btn btn-secondary" >Cancelar</a>
            </div>

        </form>
    </div>

    <script>
        if(window.location.search){
            const error = window.location.search.split('=')[1];
            alert(decodeURI(error))
        }
    </script>
    
    
</body>
</html>